/* frontEnd de "index" */

body {
	background-color: #131a29;
}

/* Infos principais do Personagem */
/* Estrutura das Infos */
.name {grid-area: nome;}
.origem {grid-area: origem;}
.classe {grid-area: classe;}
.raca {grid-area: raca;}
.defEsq {grid-area: defesa;}

.topDiv {
	display: grid;
	grid-template-areas: 'nome raca defesa' 
										'origem classe defesa';
	gap: 4px;
	padding: 4px;
	margin: 8px;
}

.name, .origem, .classe, .raca {
	display: inline;
}

.nameLa, .origemLa, .classeLa, .racaLa {
	font-family: "Times New Roman";
	color: #fff2bf;
	font-size: 20px;
}

/* Nome do Personagem */
.nameIn {
	text-align: center;
	font-family: "Lucida Handwriting";
	font-size: 18px;
	color: #fff2bf;
	background-color: #131a29;
	border-color: #fff2bf;
}
.nameIn::placeholder {
	color: #c7b054;
	opacity: 0.7;
}

/* Origem, Classe e Raça do Personagem */
.origens, .classes, .racas {
	font-family: "Times New Roman";
	font-size: 18px;
	text-align: center;
	background-color: #131a29;
	color: #fff2bf;
	border-color: #fff2bf;
	height: 25px;
	width: 265px;
}
.origens {
	margin-left: 36px;
}
.racas {
	margin-left: 12px;
}

/* Img da Defesa, Esquiva e Defesa Extra do Personagem */
.defEsq {
	position: relative;
	max-width: 180px;
	width: 100%;
	margin: 0 auto;
}
.imgCD {
	position: inherit;
	width: 100%;
	transform: scale(1.2);
	transform-origin: center;
}
.actCD, .actES, .extCD {
	position: absolute;
	text-align: center;
	transform: translate(-50%, -50%);
	font-size: 20px;
	font-family: "Lucida Console";
	min-width: 30px;
	max-width: 40px;
	color: #fff2bf;
	background-color: #131a29;
	border-radius: 50px;
}
.actCD {
	top: 45%;
	left: 48%;
	max-width: 50px;
	height: 50px;
}
.actES {
	top: 22%;
	left: 71%;
}
.extCD {
	top: 80%;
	left: 35%;
}

/* Removedor dos Spinners dos campos de input de número */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Barras de Vida, Sanidade, Esforço e Magia */
.statusInfos {
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	text-align: center;
}
.divHP, .divSAN, .divPV, .divMP {
	position: relative;
	display: inline;
	text-align: center;
}

.imgHP, .imgSAN, .imgPV, .imgMP {
	max-width: 320px;
	width: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.maxHP, .actHP, .maxSAN, .actSAN, .maxPV, .actPV, .maxMP, .actMP { /* campos input */
	position: absolute;
	text-align: center;
	transform: translate(-50%, -50%);
	font-size: 20px;
	font-family: "Lucida Console";
	max-width: 55px;
	height: 50px;
	background-color: #131a29;
}

.actHP, .maxHP {
	color: #ff9797;
	top: -310%;
}
.actHP {
	left: 64%;
}
.maxHP {
	left: 81.2%;
}

.actSAN, .maxSAN {
	color: #bbb6ff;
	top: -380%;
}
.actSAN {
	left: 57.1%;
}
.maxSAN {
	left: 74.3%;
}

.actPV, .maxPV {
	color: #ffdbb6;
	top: -311%;
}
.actPV {
	left: 64%;
}
.maxPV {
	left: 81.2%;
}

.actMP, .maxMP {
	color: #c9ffb6;
	top: -308%;
}
.actMP {
	left: 64%;
}
.maxMP {
	left: 81.2%;
}

/* Atributos */
.atrDiv {
	position: relative;
	width: 100%;
	max-width: 480px; /* para centralizar e demarcar um tamanho máximo */
	margin: 0 auto;
}

.img {
	max-width: 400px;
	width: 100%;
	position: inherit;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.atrFOR, .atrAGI, .atrINT, .atrRES, .atrCAR {
	position: absolute;
	text-align: center;
	transform: translate(-50%, -50%);
	font-size: 25px;
	font-family: "Lucida Console";
	min-width: 30px;
	max-width: 40px;
	color: #fff2bf;
	background-color: #131a29;
	border-radius: 10px;
}

.atrFOR {
	top: 16%;
	left: 50%;
}
.atrAGI {
	top: 40.4%;
	left: 24%;
}
.atrINT {
	top: 40.4%;
	left: 76.5%;
}
.atrRES {
	top: 77.5%;
	left: 35.8%;
}
.atrCAR {
	top: 77.5%;
	left: 65.6%;
}

/* Lista Pericias Layout */

th {
	padding: 4px;
}
#periList {
	border: 4px solid black;
	border-radius: 8px;
	text-align: center;
	line-height: 30px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

/* Aparência dos botão e dos textos */
.titl {
	font-family: "Times New Roman";
  text-align: center;
  color: #fff2bf;
 }
.listR {
	font-family: "Times New Roman";
	color: #fff2bf;
}

.btnRodar {
	background-color: #fff2bf;
	border-radius: 20px;
	max-height: 25px;
	max-width: 25px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	filter: drop-shadow(4px 1px 2px);
}

/* Aparência dos modificadores */
.modis {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.modi {
	position: relative;
	width: 100%;
	display: inline;
	padding: 2px 10px;
	margin: 0 auto;
}
.modiCog {
	position: relative;
	max-width: 80px;
	width: 100%;
	border-radius: 50px;
	background-color: #fff2bf;
}
.modiQNT {
	position: absolute;
	text-align: center;
	transform: translate(-50% -50%);
	font-family: "Lucida Console";
	font-size: 20px;
	color: #fff2bf;
	background-color: #131a29;
	padding: 6px 2px;
	border-radius: 20px;
	top: -200%;
	left: 30%; /* centralização gambiarrada, mas funciona (top e left) */
	min-width: 35px;
}

/* aparência das coisas da (e também da) tabela */
#periList {
	border-color: #fff2bf;
}
.peri {
	font-family: "Times New Roman";
	color: #fff2bf;
	max-width: 50px;
	padding: 5px;
}
.periQNT {
	font-family: "Times New Roman";
	color: #fff2bf;
	background-color: #131a29;
	border-color: #fff2bf;
	max-width: 50px;
	padding: 5px;
}
.periQNT::placeholder {
	color: #c7b054;
	opacity: 0.7;
}
.habil {
	font-family: "Times New Roman";
	background-color: #131a29;
	color: #fff2bf;
	border-color: #fff2bf;
	height: 30px;
}

/* Aparência do popup info */
.toast-title {
	font-family:"Times New Roman" ;
}
.toast-message {
	font-family:"Times New Roman" ;
}

/* Cor do popup */
#toast-container .toast {
	background-color: orange;
}

/* Mudança de posição por responsividade (o toast falta descobrir como fazer pra mudar a pos, já que o @media ta funcionando) */
@media (max-width: 1200px) {
	.topDiv {
	display: grid;
	grid-template-areas: 'nome origem' 
										'defesa defesa'
										'raca classe';
	gap: 4px;
	padding: 4px;
	margin: 8px;
	}
	.origens {
		margin-left: 0px;
	}
	.racas {
		margin-left: 55px;
	}
	.classes {
		margin-left: 9px;
	}
  .imgHP, .imgSAN, .imgPV, .imgMP {
	max-width: 220px;
	}
	.maxHP, .actHP, .maxSAN, .actSAN, .maxPV, .actPV, .maxMP, .actMP { /* campos input */
		font-size: 16px;
		max-width: 40px;
		height: 30px;
	}
	.actHP, .maxHP {
		top: -175%;
	}
	.actHP {
		left: 62.7%;
	}
	.maxHP {
		left: 80.5%;
	}

	.actSAN, .maxSAN {
		top: -220%;
	}
	.actSAN {
		left: 56%;
	}
	.maxSAN {
		left: 73.5%;
	}

	.actPV, .maxPV {
		top: -180%;
	}
	.actPV {
		left: 62%;
	}
	.maxPV {
		left: 79.8%;
	}

	.actMP, .maxMP {
		top: -170%;
	}
	.actMP {
		left: 57.4%;
	}
	.maxMP {
		left: 75.5%;
	}
}

@media (max-width:930px) {
	.divHP, .divSAN, .divPV, .divMP {
		display: block;
	}

	.maxHP, .actHP, .maxSAN, .actSAN, .maxPV, .actPV, .maxMP, .actMP { /* campos input */
		font-size: 15px;
		max-width: 42px;
		height: 30px;
	}

.actHP, .maxHP {
	top: 45%;
	}
	.actHP {
		left: 54.7%;
	}
	.maxHP {
		left: 62%;
	}

	.actSAN, .maxSAN {
		top: 35%;
	}
	.actSAN {
		left: 51.9%;
	}
	.maxSAN {
		left: 59.2%;
	}

	.actPV, .maxPV {
		top: 50%;
	}
	.actPV {
		left: 54.6%;
	}
	.maxPV {
		left: 61.8%;
	}

	.actMP, .maxMP {
		top: 40.5%;
	}
	.actMP {
		left: 52.2%;
	}
	.maxMP {
		left: 59.5%;
	}
}